.blogs-list-container h2{
    padding: 0 0rem 2.5rem 0.5rem;
    font-size: 1.5rem;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
  column-gap: 2rem;
  row-gap: 3rem;
}


@media (max-width: 650px) {
  .blogs {
    grid-template-columns: 1fr;
  }
}
