@import url("../../../styles/colors.css");

.hero-container {
  background-color: var(--light-blue);
}

.hero {
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-left: 0;
  padding-top: 3rem;
  color: var(--dark-blue);
}

.hero h1 {
  font-size: calc(0.75rem + 0.9vw);
  color: var(--dark-blue);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.headings {
  gap: 2rem;
  display: flex;
}

.left {
  display: flex;
  overflow: hidden;
  gap: 0.15rem;
}

.paragraph-wrapper {
  overflow: hidden;
}

.paragraph {
  line-height: 1.5rem;
  text-align: left;

}

.paragraph p{
  text-align: left;
}


.avatar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 75px;
}

.svg-container {
  right: 5%;
  position: absolute;
}

.svg-container svg {
  width: 100%;
  height: 100%;
}

.curve {
  display: flex;
}

.curve svg {
  width: 100%;
  fill: white;
}

@media (max-width: 599px) {
  .avatar-container {
    padding: 1rem 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .svg-container {
    position: static;
    transform: none;
    width: 55%;
  }
  .hero {
    padding: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
  }
  .text-container {
    font-size: 0.9rem;
    gap: 0.75rem;
  }

  .hero h1 {
    font-size: calc(0.75rem + 1vw);
  }
  .paragraph {
    text-align : left;
  }
  .paragraph p{
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  
}

@media screen and (min-width: 800px) and (max-width: 1300px) {
  .svg-container {
    right: 2.5%;
    top: 50%;
    transform: translateY(-25%);
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .svg-container {
    width: 275px;
    right: 5%;
    top: 50%;
    transform: translateY(-25%);
  }
}
