@import url("../../../styles/colors.css");

.blog-item-container {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog-item-container:hover h3 {
  color: var(--dark-violet);
}

.blog-item-container h3 {
  font-size: 1.25rem;
}

.blog-item-container p {
  line-height: 1.75rem;
  font-size: 0.95rem;
}

@media (max-width: 650px) {
    .blog-item-container {
        padding: 2rem 1rem;
        gap: 1rem;
    }
    .blog-item-container h3{
        font-size: 1.1rem;
    }
}
