@import url("./colors.css");

.blog-container {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.blog-container h1 {
  padding: 0 0 5rem 0;
  text-align: center;
}

.blog-container h2 {
  padding: 1.75rem 0;
}

.blog-container p {
  line-height: 1.75rem;
  text-align: justify;
  padding: 1rem 0;
}

.blog-container p img {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
}

.blog-container pre {
  margin: 2rem 0;
}

.blog-container p > code {
  font-weight: bolder;
}

.blog-container blockquote {
  line-height: 1.75rem;
  text-align: justify;
  margin: 2rem 0;
  padding: 1.5rem;
  background-color: var(--light-blue);
  border-left: 4px solid var(--dark-violet);
  border-radius: 4px;
}

@media (max-width: 800px) {
  .blog-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .blog-container h1 {
    font-size: 1.5rem;
  }
}
